body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 890px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #2f1919;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  input, textarea {
    width: 89%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #08f20c;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6e5a5f;
  }
  
  #resume-preview {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ae6060;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  